
.user-icon {
    border-radius: 50%; 
    border-color: var(--primary-hover);
    width: 2.5rem;
    height: 2.5rem;
}


@media (max-width: 768px) {
    .card-container {
        align-items: right;
    }
}

.bocchi-the-rock {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-bocchi-the-rock.jpeg);
    background-position: top;
    }

.kimi-no-na-wa {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-kimi-no-na-wa.png);
    background-position: top;}

.one-piece {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-one-piece.jpg);
    background-position: top;
    }

h1 {color: white;
    letter-spacing: 0.313rem;
    text-align: center;
    font-size: 1.25rem;}

h2 {margin: 1.25rem;
    color: white;}

.title {margin: 1.25rem;
    color: white;
    font-size: 1.875rem;}

.bocchi-genre {margin: 1.25rem;
    color: orange;
    font-size: 1.25rem;
    border: 1px solid orange;
    border-radius: 1.875rem;
    padding: 0.313rem;}

.kimi-genre {margin: 1.25rem;
    color: pink;
    font-size: 1.25rem;
    border: 1px solid pink;
    border-radius: 1.875rem;
    padding: 0.313rem;}

.piece-genre {margin: 1.25rem;
    color: red;
    font-size: 1.25rem;
    border: 1px solid red;
    border-radius: 1.875rem;
    padding: 0.313rem;}

p {margin: 1.25rem;
    color: white;
    font-size: 1.25rem;
    line-height: 0.938rem;}

hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.875rem;
    margin: 1.875rem;}

.container2 {margin:40px;
    align-items: center;
    justify-content: center;}

.anime-container {display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 20%;
    position: relative;
    left: 5%;
    top: 0%;
}

.btn.btn-primary {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    font-size: 1.25rem;
    padding: 0.625rem;
    margin-top: 8px;
    margin-left: 1.25rem;
    margin-right: 1.875rem;
    border: none;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    border-width: 0.625rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    align-self: end;
    border: 1px solid white;
    line-height: 1.25rem;
    width: 9.375rem;
    transition: all 0.3s ease;
}

.btn.btn-primary:hover {font-size:1.25rem;
    translate: translateY(-5px);
}

.btn.btn-secondary {background-color: var(--sky-blue);
    border: 1px solid white;
    margin-left: 1.563rem;
    height: 3rem;}

.btn.btn-secondary:hover {background-color: var(--sky-blue-hover);}

.anime-details {font-size: 1.25rem;
    margin-left: 0%;
    margin-top: 20%;
    align-self: end;
    text-shadow: 2px 2px 2px 0.5 black;}

.anime-info-container p {line-height: 1.25rem;}

.anime-info-container {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3.125rem;
    margin-top: 5%;
    margin-bottom: 5%; 
    position: center;
}

.anime-synopsis {background-color: white;
    color: var(--earthy-brown);
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 3.125rem;
    border-radius: 0.625rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.25rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0);
}

.anime-synopsis h2 {color: var(--earthy-brown);
    font-size: auto;
    margin: 1.25rem;
    }

.anime-synopsis p {color: var(--earthy-brown);
    line-height: 1.875rem;}

.lower-half-container {display: grid;
    grid-template-columns: 45% 55%;
    margin: 0px;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    margin-bottom: 6.25rem; 
    position: center;
}

.lower-half-container h2 {text-align: left;
}

.recommendation-container {background-color: var(--peach-pink);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: auto;}

.anime-review-container {background-color: var(--earthy-brown);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    text-align: justify;
    text-justify: inter-word;}

.individual-recommendation img {width: 140px;
    height: 12.5rem;
    float: left;
    border-radius: 0.625rem;
    border: 2px solid white;
    margin-left: 1.25rem;
}

.individual-recommendation {display: grid;
    grid-template-columns: 30% 70%;}

.recommendation-title {color: white;
    font-size: 1.875rem;
    margin-left: 1.25rem;
    text-align: left;
}

.recommendation-container hr {background-color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.recommendation-details p {line-height: 1.25rem;
    font-size: 0.938rem;
    margin-top: 0.313rem;
}

.btn.btn-light {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin-left: 1.25rem;
    border: none;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    border-width: 0.625rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    align-self: end;
    border: 1px solid white;
    line-height: 1.25rem;
    width: auto;
    transition: all 0.3s ease;
}

.btn.btn-light:hover {font-size:1rem;
}

.recommendation-details {margin-right: 0.625rem;
    margin-left: 0.625rem;}


.anime-review p {line-height: 1.875rem;}

.anime-review hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.875rem;
    margin: 3.125rem;
}

img {width: 15.625rem;
    height: 21.875rem;
    float: right;
    border-radius: 0.625rem;
    border: 2px solid white;}

.score {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.popularity {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.date {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.studio {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.review-form {display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 0.625rem;}

.review {line-height: 1.875rem;
    margin-left: 1.25rem;
 }

.rating-form {line-height: 1.875rem;
    margin-left: 1.875rem;
    }

input[type="text"] {background-color: white;
    color: var(--earthy-brown);
    font-size: 0.938rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    text-align: center;
    text-justify: inter-word;
    height: 40px;
    width: 12.5rem;}

input::placeholder {color: var(--earthy-brown);}

.submit-button {background-color: var(--soft-green);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    padding-top: 8px;
    margin-top: 8px;
    margin-left: 1.25rem;
    margin-right: 1.875rem;
    border:none;
    border-radius: 1.875rem;
    border: 1px solid white;
    text-align: center;
    height: 40px;
    transition: all 0.3s ease;

}
    
.submit-button:hover {background-color: var(--soft-green-hover);
    padding: 0.625rem;
    padding-top: 8px;
    transform: translateY(-2px);}

.review-user-icon {
    border-radius: 50%; 
    border-color: var(--primary-hover);
    width: 2.5em;
    height: 2.5em;
    float: left;
    position: relative;
    left: 1.25rem;
    top: 0px;
}

.review-username {font-size: 1.25rem;
    margin-left: 60px;
    padding: 7px;}

.review-score {font-size: 1.875rem;
    margin-top: 1.875rem;}

.individual-review {
    padding: 0px;
    margin: 0.625rem;}

.individual-review p {line-height: 1.875rem;}

@media (max-width:992px) {
    .anime-info-container {display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.875rem;
    margin-top: 5%;
    margin-bottom: 5%; 
    position: center;}
}

@media (max-width:768px) {

    .bocchi-the-rock {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 20%), url(../assets/img/banner-bocchi-the-rock.jpeg);
        background-position: top;}

    .kimi-no-na-wa {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 20%), url(../assets/img/banner-kimi-no-na-wa.png);
        background-position: top;}

    .one-piece {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 20%), url(../assets/img/banner-one-piece.jpg);
        background-position: top;}

    .container2 {margin:0.625rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right:0rem;
    }

    .anime-info-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 0.313rem;
        margin-bottom: 0.313rem; 
        position: center;
        }

    .anime-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 10%;
        margin: 0px;
        position: relative;
        left: 5%;
        top: 0%;
    }

    .anime-container hr {color:black}

    .btn.btn-primary {margin: 1.25rem;
        margin-top: 0rem;}

    img {float: left;
        margin-top: 3.125rem;
        margin-left: 1.5rem;
        width: 14rem;
        height:20rem;}

    .anime-details {margin-top: 1.875rem;
        margin-bottom: 0rem;}

    .anime-info-container{margin:0rem;
        margin-bottom: 1rem;}

    .score {margin:0rem;
        margin-bottom: 1rem;
        width:20rem;}
    .popularity {margin:0rem;
        margin-bottom: 1rem;
        width:20rem;}
    .date {margin:0rem;
        margin-bottom: 1rem;
        width:20rem;}
    .studio {margin:0rem;
        margin-bottom: 1rem;
        width:20rem;}

    .rating-form {width: 6.25rem;}

    .review {margin-left:1.875rem;}

    .review-form {display: flex;
        flex-direction: column;
    }

    .anime-synopsis {margin:1rem;}

    input[type="text"] {
        height: 3.125rem;
        width: 15rem;}

    .submit-button {height: 3.125rem;
        width: 9.375rem;
        margin-left: 1.875rem;}

    .lower-half-container {display: grid;
        grid-template-columns: 1fr;
        margin: 2rem;
        margin-bottom: 3em; 
        position: center;
        align-items: center;}

    .recommendation-container {margin: 0rem;
        margin-bottom: 2rem;}

        .individual-recommendation {display: flex;
            flex-direction: row;
            margin: 0rem;
            margin-bottom: 2rem;}

        .individual-recommendation img {margin:0px;
        margin-left: 0.5rem}

        .recommendation-details {margin: 1rem;
        margin-top:0rem;
        margin-left:0.5rem;
        margin-right:0.5rem;}

        .recommendation-details p {font-size: 1rem;}

        .recommendation-title {margin-right:0rem;
        font-size:1.5rem;}

        .recommendation-container hr {margin-top:0rem;
        margin-bottom:1rem;}

    .anime-review-container {margin: 0rem;}

        .individual-review img {margin: 0rem;
        float:left;}

    .btn.btn-light {font-size: 0.8rem;}

    .btn.btn-light:hover {font-size:0.9rem;}





    
    
    
}
