.card-container {
    position: relative;
    display: inline-block;
}

.user-icon {
    border-radius: 50%; 
    border-color: var(--primary-hover);
    width: 2.5rem;
    height: 2.5rem;
}


@media (max-width: 768px) {
    .card-container {
        align-items: right;
    }
}

.bocchi-the-rock {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-bocchi-the-rock.jpeg);
    background-position: top;
    }

.kimi-no-na-wa {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-kimi-no-na-wa.png);
    background-position: top;}

.one-piece {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, white 40%), url(../assets/img/banner-one-piece.jpg);
    background-position: top;
    }

h1 {color: white;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;}

h2 {margin: 20px;
    color: white;}

.title {margin: 20px;
    color: white;
    font-size: 30px;}

.bocchi-genre {margin: 20px;
    color: orange;
    font-size: 20px;
    border: 1px solid orange;
    border-radius: 30px;
    padding: 5px;}

.kimi-genre {margin: 20px;
    color: pink;
    font-size: 20px;
    border: 1px solid pink;
    border-radius: 30px;
    padding: 5px;}

.piece-genre {margin: 20px;
    color: red;
    font-size: 20px;
    border: 1px solid red;
    border-radius: 30px;
    padding: 5px;}

p {margin: 20px;
    color: white;
    font-size: 20px;
    line-height: 15px;}

hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin: 30px;}

.anime-container {display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 20%;
    position: relative;
    left: 5%;
    top: 0%;
}

.btn.btn-primary {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 30px;
    border: none;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    border-width: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    align-self: end;
    border: 1px solid white;
    line-height: 20px;
    width: 150px;
    transition: all 0.3s ease;
}

.btn.btn-primary:hover {font-size:20px;
    translate: translateY(-5px);
}

.btn.btn-secondary {background-color: var(--sky-blue);
    border: 1px solid white;
    margin-left: 25px;}

.btn.btn-secondary:hover {background-color: var(--sky-blue-hover);}

.anime-details {font-size: 20px;
    margin-left: 0%;
    margin-top: 20%;
    align-self: end;
    text-shadow: 2px 2px 2px 0.5 black;}

.anime-info-container p {line-height: 20px;}

.anime-info-container {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    margin-top: 5%;
    margin-bottom: 5%; 
    position: center;
}

.anime-synopsis {background-color: white;
    color: var(--earthy-brown);
    font-size: 15px;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0);
}

.anime-synopsis h2 {color: var(--earthy-brown);
    font-size: auto;
    margin: 20px;
    }

.anime-synopsis p {color: var(--earthy-brown);
    line-height: 30px;}

.lower-half-container {display: grid;
    grid-template-columns: 45% 55%;
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px; 
    position: center;
}

.recommendation-container {background-color: var(--peach-pink);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: auto;}

.anime-review-container {background-color: var(--earthy-brown);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: justify;
    text-justify: inter-word;}

.recommendation-cover img {width: 140px;
    height: 200px;
    float: left;
    border-radius: 10px;
    border: 2px solid white;
    margin-left: 20px;
}

.individual-recommendation {display: grid;
    grid-template-columns: 30% 70%;}

.recommendation-title {color: white;
    font-size: 1.875rem;
    margin-left: 20px;
    text-align: left;
}

.recommendation-container hr {background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recommendation-details p {line-height: 20px;
    font-size: 15px;
    margin-top: 5px;
}

.btn.btn-light {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
    border: none;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    border-width: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    align-self: end;
    border: 1px solid white;
    line-height: 20px;
    width: auto;
    transition: all 0.3s ease;
}

.btn.btn-light:hover {font-size:18px;
    translate: translateY(-5px);
}

.recommendation-details {margin-right: 10px;
    margin-left: 10px;}


.anime-review p {line-height: 30px;}

.anime-review hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin: 50px;
}

img {width: 250px;
    height:350px;
    float: right;
    border-radius: 10px;
    border: 2px solid white;}

.score {background-color: var(--sky-blue);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.popularity {background-color: var(--sky-blue);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.date {background-color: var(--sky-blue);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.studio {background-color: var(--sky-blue);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);}

.review-form {display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 10px;}

.review {line-height: 30px;
    margin-left: 20px;
 }

.rating-form {line-height: 30px;
    margin-left: 30px;
    }

input[type="text"] {background-color: white;
    color: var(--earthy-brown);
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-justify: inter-word;
    height: 40px;
    width: 200px;}

input::placeholder {color: var(--earthy-brown);}

.submit-button {background-color: var(--soft-green);
    color: white;
    font-size: 15px;
    padding: 10px;
    padding-top: 8px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 30px;
    border:none;
    border-radius: 30px;
    border: 1px solid white;
    text-align: center;
    height: 40px;
    transition: all 0.3s ease;

}
    
.submit-button:hover {background-color: var(--soft-green-hover);
    padding: 10px;
    padding-top: 8px;
    transform: translateY(-2px);}

.review-user-icon {
    border-radius: 50%; 
    border-color: var(--primary-hover);
    width: 2.5em;
    height: 2.5em;
    float: left;
    position: relative;
    left: 20px;
    top: 0px;
}

.review-username {font-size: 20px;
    margin-left: 60px;
    padding: 7px;}

.review-score {font-size: 30px;
    margin-top: 30px;}

.individual-review {
    padding: 0px;
    margin: 10px;}

.individual-review p {line-height: 30px;}

@media (max-width:992px) {
    .anime-info-container {display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    margin-top: 5%;
    margin-bottom: 5%; 
    position: center;}
}

@media (max-width:768px) {

    .anime-info-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 5px;
        margin-bottom: 5px; 
        margin-left: 30px;
        margin-right: 30px;
        position: center;}

    .anime-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 10%;
        margin: 0px;
        position: relative;
        left: 5%;
        top: 0%;
    }

    .container {margin:0px;
    align-items: center;}

    .bocchi-genre {text-shadow: ;}

    .anime-container hr {color:black}

    .btn.btn-primary {margin: 20px;
        margin-top: 0px;}

    img {float: left;
        margin-top: 50px;}

    .anime-details {margin-top: 30px;
        margin-bottom: 20px;}

    .rating-form {width: 100px;}

    .review {margin-left:30px;}

    .review-form {display: flex;
        flex-direction: column;
    }

    input[type="text"] {
        height: 50px;
        width: 200px;}

    .submit-button {height: 50px;
        width: 150px;
        margin-left: 30px;}

    .bocchi-the-rock {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, white 20%), url(../assets/img/banner-bocchi-the-rock.jpeg);
        background-position: top;}

    .lower-half-container {display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 20px; 
        position: center;
        align-items: center;}
    
}
