.bocchi-the-rock {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 45%), url(../assets/img/banner-bocchi-the-rock.jpeg);
    background-position: top;
    }

.kimi-no-na-wa {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 45%), url(../assets/img/banner-kimi-no-na-wa.png);
    background-position: top;}

.one-piece {margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 45%), url(../assets/img/banner-one-piece.jpg);
    background-position: top;
    }

h1 {color: white;
    letter-spacing: 0.313rem;
    text-align: center;
    font-size: 1.25rem;}

h2 {margin: 1.25rem;
    color: white;}

.title {margin:1rem;
    color: white;
    font-size: 1.875rem;
    font-family: var(--heading-font);}

.bocchi-genre {margin: 1.25rem;
    margin-left:1rem;
    color: orange;
    font-size: 1.25rem;
    border: 1px solid orange;
    border-radius: 1.875rem;
    padding: 0.313rem;}

.kimi-genre {margin: 1.25rem;
    margin-left:1rem;
    color: pink;
    font-size: 1.25rem;
    border: 1px solid pink;
    border-radius: 1.875rem;
    padding: 0.313rem;}

.piece-genre {margin: 1.25rem;
    margin-left:1rem;
    color: red;
    font-size: 1.25rem;
    border: 1px solid red;
    border-radius: 1.875rem;
    padding: 0.313rem;}

.detail1 {margin-left:1rem;}
.detail2 {margin-left:1rem;}

@media (max-width: 768px) {
    .card-container {
        align-items: right;
    }
}

p {margin: 1.25rem;
    color: white;
    font-size: 1.25rem;
    line-height: 0.938rem;}

hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.875rem;
    margin: 1.875rem;}

.container2 {margin:2rem;
    align-items: center;
    justify-content: center;}

.container1 {display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 15%;
    margin-right:3%;
    position: relative;
    left: 5%;
    top: 0%;
}

.anime-container {display: flex;
    flex-direction: row;
    margin:1rem;
    margin-left:10%
}

.add-button {align-self: end;
    margin-right:20%}

.btn.btn-primary {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    width: 60%;
    border: 1px solid white;
    text-align: center; 
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    font-size: 100%;
    line-height: 1.25rem;
    padding: 0.625rem;
    margin-top: 8px;
    margin-left: 1.25rem;
    margin-right: 1.875rem;
    transition: all 0.3s ease;
}

.btn.btn-primary:hover {translate: translateY(-10px);
}

.btn.btn-secondary {background-color: var(--sky-blue);
    border: 1px solid white;
    margin-left: 1.563rem;
    height: 3rem;}

.btn.btn-secondary:hover {background-color: var(--sky-blue-hover);}

.anime-details {font-size: 1.25rem;
    margin-left: 0%;
    margin-top: 15%;
    margin-left:2%;
    align-self: end;
    text-shadow: 2px 2px 2px 0.5 black;}

.anime-info-container p {line-height: 1.25rem;}

.anime-info-container {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3.125rem;
    margin-top: 5%;
    margin-bottom: 5%; 
    position: center;
}

.anime-synopsis {color: var(--earthy-brown);
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 3.125rem;
    border-radius: 0.625rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.25rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0);
}

.anime-synopsis h2 {color: var(--earthy-brown);
    font-size: auto;
    margin: 1.25rem;
    }

.anime-synopsis p {color: var(--earthy-brown);
    line-height: 1.875rem;}

.lower-half-container {display: grid;
    grid-template-columns: 45% 55%;
    margin: 0px;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    margin-bottom: 6.25rem; 
    position: center;
}

.lower-half-container h2 {text-align: left;
}

.recommendation-container {background-color: var(--warm-beige);
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: auto;}

.anime-review-container {background-color: var(--earthy-brown);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    text-align: justify;
    text-justify: inter-word;}

.recommendation-container h2 {color: var(--earthy-brown);}

.individual-recommendation img {width: 140px;
    height: 12.5rem;
    float: left;
    border-radius: 0.625rem;
    border: 2px solid white;
    margin-left: 1.25rem;
}

.individual-recommendation {display: grid;
    grid-template-columns: 30% 70%;}

.recommendation-title {color: var(--earthy-brown);
    font-size: 1.875rem;
    margin-left: 1.25rem;
    text-align: left;

}

.recommendation-container hr {border: 1px solid var(--earthy-brown);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.recommendation-details p {color:var(--earthy-brown);
    line-height: 1.25rem;
    font-size: 0.938rem;
    margin-top: 0.313rem;
}

.btn.btn-light {
    background:linear-gradient(
        135deg,
        rgba(168, 213, 186, 1),
        rgba(167, 198, 237, 1));
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin-left: 1.25rem;
    border: none;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    border-width: 0.625rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    align-self: end;
    border: 1px solid white;
    line-height: 1.25rem;
    width: auto;
    transition: all 0.3s ease;
}

.btn.btn-light:hover {font-size:1rem;
}

.recommendation-details {margin-right: 0.625rem;
    margin-left: 0.625rem;}


.anime-review p {line-height: 1.875rem;}

.anime-review hr {border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.875rem;
    margin: 3.125rem;
}

img {width: 15.625rem;
    height: 21.875rem;
    border-radius: 0.625rem;
    border: 2px solid white;}

.score {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    width:80%;
}

.popularity {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    width:80%;}

.date {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    width:80%;}

.studio {background-color: var(--sky-blue);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    margin: 1.875rem;
    border-radius: 0.625rem;
    text-align: center;
    text-justify: inter-word;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    width:80%;}

.review-form {display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 0.625rem;}

.review {line-height: 1.875rem;
    margin-left: 0.5rem;
    width:100%;
 }

.rating-form {line-height: 1.875rem;
    margin-left: 1.875rem;
    width:20%;
    }

input[type="text"] {background-color: white;
    color: var(--earthy-brown);
    font-size: 0.938rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    text-align: center;
    text-justify: inter-word;
    height: 40px;
    width: 100%;}

input::placeholder {color: var(--earthy-brown);}

.submit-button {background-color: var(--soft-green);
    color: white;
    font-size: 0.938rem;
    padding: 0.625rem;
    padding-top: 8px;
    margin-top: 8px;
    margin-left: 0.5rem;
    margin-right: 1.875rem;
    border:none;
    border-radius: 1.875rem;
    border: 1px solid white;
    text-align: center;
    height: 40px;
    transition: all 0.3s ease;
    width:70%

}
    
.submit-button:hover {background-color: var(--soft-green-hover);
    padding: 0.625rem;
    padding-top: 8px;
    transform: translateY(-2px);}

.review-user-icon {
    border-radius: 50%; 
    border-color: var(--primary-hover);
    width: 2.5em;
    height: 2.5em;
    float: left;
    position: relative;
    left: 1.25rem;
    top: 0px;
}

.review-username {font-size: 1.25rem;
    margin-left: 60px;
    padding: 7px;}

.review-score {font-size: 1.875rem;
    margin-top: 1.875rem;
    font-family: var(--heading-font);}

.individual-review {
    padding: 0px;
    margin: 0.625rem;}

.individual-review p {line-height: 1.875rem;}

.footer-container p {color: var(--earthy-brown);
    font-size:1rem;
    margin: 0rem;
    margin-top:0.2rem;
    padding-bottom: 0.3rem;}

@media (max-width:1300px) {

    .anime-info-container {display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0rem;
        margin-top: 5%;
        margin-bottom: 5%; 
        position: center;
}

        .score {margin:1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;}
        .popularity {margin:1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;}
        .date {margin:1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;}
        .studio {margin:1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;}

    .bocchi-the-rock {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 30%), url(../assets/img/banner-bocchi-the-rock.jpeg);
        background-position: top;}

    .kimi-no-na-wa {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 30%), url(../assets/img/banner-kimi-no-na-wa.png);
        background-position: top;}

    .one-piece {margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, white 30%), url(../assets/img/banner-one-piece.jpg);
        background-position: top;}

    .anime-cover img {width:11rem;
        height:16rem;
        margin-left:5%;}

    .title {margin-left:0rem;}
    .bocchi-genre {margin-left:0rem;}
    .kimi-genre {margin-left:0rem;}
    .piece-genre {margin-left:0rem;}
    .detail1 {margin-left:0rem;}
    .detail2 {margin-left:0rem;}

    .add-button {width: 80%;}
    
    .anime-review-container {margin: 0rem;}

        .individual-review img {margin: 0rem;
        float:left;}

    .container1 {margin-left: 0%;
        margin-right: 5%;
        margin-top:10%;
        grid-template-columns: 65% 35%;}

    .container2 {margin:0.625rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;;
    }

    .anime-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 20%;
        margin: 0px;
        position: relative;
        left: 5%;
        top: 0%;
    }

    .anime-container hr {color:black}

    .btn.btn-primary {margin: 1.25rem;
        margin-top: 0rem;}

    img {float: left;
        margin-top: 0rem;
        margin-left: 15%;
        width: 14rem;
        height:20rem;}

    .anime-details {display:flex;
        flex-direction:column;
        margin-top: 1.875rem;
        margin-bottom: 0rem;
        margin-left:5%}

    .rating-form {width: 25%;
        margin-left:0.8rem;}

    .submit-button {width:80%;
        margin-right:0.5rem;}

    .review-form {display: flex;
        flex-direction: row;
    }

    .anime-synopsis {margin:1rem;}

    .lower-half-container {display: grid;
        grid-template-columns: 1fr;
        margin: 1rem;
        margin-bottom: 3em; 
        position: center;
        align-items: center;}

    .recommendation-container {margin: 0rem;
        margin-bottom: 2rem;}

        .individual-recommendation {display: flex;
            flex-direction: row;
            margin: 0rem;
            margin-bottom: 2rem;}

        .individual-recommendation img {margin:0px;
        margin-left: 0.5rem}

        .recommendation-details {margin: 0.5rem;
        margin-top:0rem;
        margin-left:0rem;
        margin-right:0rem;}

        .recommendation-details p {font-size: 1.2rem;
            line-height:1.5rem;}

        .recommendation-title {margin-right:0rem;
        font-size:1.5rem;}

        .recommendation-container hr {margin-top:0rem;
        margin-bottom:1rem;}

    .anime-review-container {margin: 0rem;}

        .individual-review img {margin: 0rem;
        float:left;}

    .btn.btn-light {font-size: 0.8rem;}

    .btn.btn-light:hover {font-size:0.9rem;}
   
}

@media (max-width:650px) {

    .container1 {display: grid;
        grid-template-columns: 1fr;}

    .add-button {width:50%;
    margin-left: 5%;}

    .anime-info-container {display: grid;
        grid-template-columns: 1fr;
        margin-top: 0.313rem;
        margin-bottom: 1rem; 
        position: center;
    }
    .score {margin:0rem;
        margin-bottom: 1rem;
        width:100%}
    .popularity {margin:0rem;
        margin-bottom: 1rem;
        width:100%}
    .date {margin:0rem;
        margin-bottom: 1rem;
        width:100%;}
    .studio {margin:0rem;
        margin-bottom: 1rem;
        width:100%}
}

@media (max-width:450px) {

    .individual-recommendation img {width:8rem;
        height:10rem}

}
