/* ==========================================================================
   User Setting Container
   ========================================================================== */
.account-settings {
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5%;
    background-color: var(--secondary-hover);
    border-radius: 7px;
    margin-bottom: 10rem;
}

.settings-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5%;
}

/* ==========================================================================
   User Setting Buttons
   ========================================================================== */
#saveUserBtn, #saveEmailBtn, #savePasswordBtn, #confirmPasswordBtn, #saveAboutBtn {
    display: none;
    margin-top: 2%;
}

/* ==========================================================================
   User Settings Form
   ========================================================================== */
.username, .email, .currentPassword, .newPassword, .confirmPassword, .aboutText {
    color: var(--text-color);
    margin-top: 20px;
}

.editPassword {
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 5px; 
}

.editPassword i{
    font-size: 1.2rem; /* Adjust icon size if needed */
}

.passwordDisplay {
    background-color: var(--soft-green);
    color: var(--earthy-brown);
    border-radius: 7px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.currentPassword {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 992px) {
    .account-settings {
        margin-left: 5%;
        margin-right: 5%;
    }

    .settings-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 768px) {
    .account-settings {
        margin-left: 5%;
        margin-right: 5%;
    }

    .settings-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 480px) {
    .account-settings {
        margin-left: 5%;
        margin-right: 5%;
    }

    .settings-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}