/* ==========================================================================
   Profile Card top right in header
   ========================================================================== */

.user-icon {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.15rem;
    align-items: center;
}

.card-container {
    border-radius: 50%;
    transition: all 0.3s ease;
}

.card-container:hover {
    background-color: var(--peach-pink);
    transform: translateY(-2px);
}
