.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%), url('../assets/img/banner3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
    text-align: left;
    margin-top: 20px;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    color: var(--primary-light);
}

.profile_info {
    align-items: center;
    justify-content: center;
}

.profile_info .username {
    font-size: 1.5rem;
    color: white;
}

.profile_info .email {
    font-size: 1rem;
    color: white;
}

.edit_profile {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px; 
}

.btn-primary {
    z-index: 10; 
}

.lower_profile {
    background: linear-gradient(135deg, var(--soft-green), var(--sky-blue));
    padding: 0.9rem;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.lower_profile_nav_link {
    color: var(--earthy-brown);
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.3rem;
}

.lower_profile_nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.lower_profile_nav_link:hover {
    background-color: var(--sky-blue);
    transform: translateY(-2px);
    border-radius: 25px;
}



@media (max-width: 768px) {
    .pfp {
        height: 5rem;
        width: 5rem;
    }

    .profile_info .username {
        font-size: 0.6rem;
    }
    
    .profile_info .email {
        font-size: 0.6rem;
    }

    .profile {
        margin-top: 8%;
    }
    
    .lower_profile_nav {
        max-height: 15px;
    }

    .lower_profile_nav_link > h5{
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .pfp {
        height: 5rem;
        width: 5rem;
    }
    
    .profile_info .username {
        font-size: 0.6rem;
    }

    .profile_info .email {
        font-size: 0.6rem;
    }
    
    .profile {
        margin-top: 12%;
    }
    
    .lower_profile_nav {
        max-height: 10px;
    }

    .lower_profile_nav_link > h5{
        font-size: 0.8rem;
    }
}