
.about-header {
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-left: 10%;
    margin-right: 10%;
}

.Interests a {
    text-decoration: none;
    color: var(--text-color);
}

.Interests a:hover {
    color: var(--peach-pink);
}

.fav-anime-title a {
    text-decoration: none;
    color: var(--text-color);
}

.fav-anime-title a:hover {
    color: var(--peach-pink);
}

.fav-anime-cover img {
    width: 4rem;
    height: 6rem;
    border: none;
    border-radius:0.5rem;
}

.fav-anime-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}