.row hr {
    display: none;
}


.about-header {
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-left: 10%;
    margin-right: 10%;
}

.Interests a {
    text-decoration: none;
    color: var(--text-color);
}

.Interests a:hover {
    color: var(--peach-pink);
}

.fav-anime-title a {
    text-decoration: none;
    color: var(--text-color);
}

.fav-anime-title a:hover {
    color: var(--peach-pink);
}

.fav-anime-cover img {
    width: 4rem;
    height: 6rem;
    border: none;
    border-radius:0.5rem;
}

.fav-anime-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.about-container {
    padding-top: 2rem;
}

@media (max-width: 992px) {
    .about-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .fav-anime-cover img {
        width: 3rem;
        height: 4rem;
    }

    .fav-anime-list {
        gap: 0.5rem;
        font-size: 0.8rem;
    }

    .about-sidebar {
        margin-left: 5%;
        margin-right: 5%;
    }

    .row hr {
        display: block;
    }
}

@media (max-width: 768px) {
    .about-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .fav-anime-cover img {
        width: 3rem;
        height: 4rem;
    }

    .fav-anime-list {
        gap: 0.5rem;
        font-size: 0.8rem;
    }

    .about-sidebar {
        margin-left: 5%;
        margin-right: 5%;
    }

    .row hr {
        display: block;
    }
}

@media (max-width: 480px) {
    .about-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .fav-anime-cover img {
        width: 3rem;
        height: 4rem;
    }

    .fav-anime-list {
        gap: 0.5rem;
        font-size: 0.8rem;
    }

    .about-sidebar {
        margin-left: 5%;
        margin-right: 5%;
    }

    .row hr {
        display: block;
    }
}